@font-face {
  font-family: chalkduster;
  src:url('../fonts/src/main/resources/static/css/fonts/Chalkduster/Chalkduster.ttf');
}
* {
  font-family: 'chalkduster';
}

.title-bar {
  overflow:hidden;
  background:#3C485E;
  color:white;
  text-align: center;
}
.player-bar {
  background:#ECDCB0;
  overflow:hidden;
  text-align: center;
  h1 {
    line-height: .5;
  }
}
.board {
  background-image: url('../images/chalkboard-clip-art-at-clker-com-vector-clip-art-online-royalty-ioRhVb-clipart.png');
  height: 100px;
  background-position:center center;
  background-repeat: no-repeat;
  overflow:hidden;
  padding: 25px 15px 25px 15px;
}
.board-box {
  height:40px;
  width:40px;
  border:1px solid white;
  border-radius: .5em;
  margin:1%;
  float:left;
  h1 {
    margin:0 auto;
    color:white;
    text-align: center;
  }
}
.fill {
  background:white;
  height:40px;
  width:40px;
  border:1px solid white;
  border-radius: .5em;
  margin:1%;
  float:left;
  h1 {
    margin:0 auto;
    color:white;
    text-align: center;
  }
}
.container {
  background:#3C485E;
  overflow:hidden;
  height:350px;
}
.color-changer {
  background:white;
  height:150px;
  width:150px;
  margin:auto;
  border-radius:2em;
  box-shadow: 10px 10px 5px #888888;
  h1 {
    text-align: center;
    padding:50px 25px 50px 25px;
  }
}
.random {
  border: 1px solid black;
  border-radius:2em;
  margin:0 25% 0 25%;
  height:40px;
  width:200px;
  background:#ECDCB0;
}
// .wheel {
//   .slice1, .slice2, .slice3, .slice4, .slice5, .slice6, .slice7, .slice8 {
//     float:left;
//     border:1px solid black;
//   }
//   .slice1 {
//     height:100px;
//     width:100px;
//     background:red;
//   }
//   .slice2 {
//     height:100px;
//     width:100px;
//     background:blue;
//   }
//   .slice3 {
//     height:100px;
//     width:100px;
//     background:green;
//   }
//   .slice4 {
//     height:100px;
//     width:100px;
//     background:yellow;
//   }
//   .slice5 {
//     height:100px;
//     width:100px;
//     background:red;
//   }
//   .slice6 {
//     height:100px;
//     width:100px;
//     background:blue;
//   }
//   .slice7 {
//     height:100px;
//     width:100px;
//     background:green;
//   }
//   .slice8 {
//     height:100px;
//     width:100px;
//     background:black;
//     color:white;
//   }
// }
// button {
//   height:30px;
//   width:100px;
//   border:1px solid black;
//   border-radius:1em;
//   margin:2%;
// }
