@font-face {
  font-family: chalkduster;
  src: url("../fonts/src/main/resources/static/css/fonts/Chalkduster/Chalkduster.ttf"); }
* {
  font-family: 'chalkduster'; }

.title-bar {
  overflow: hidden;
  background: #3C485E;
  color: white;
  text-align: center; }

.player-bar {
  background: #ECDCB0;
  overflow: hidden;
  text-align: center; }
.player-bar h1 {
  line-height: .5; }

.board {
  background-image: url("../images/chalkboard-clip-art-at-clker-com-vector-clip-art-online-royalty-ioRhVb-clipart.png");
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 25px 15px 25px 15px; }

.letter{
  display:none;
  }

.board-box {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: .5em;
  margin: 1%;
  float: left; }
.board-box h1 {
  margin: 0 auto;
  color: white;
  text-align: center; }

.fill {
  background: white;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: .5em;
  margin: 1%;
  float: left; }
.fill h1 {
  margin: 0 auto;
  color: white;
  text-align: center; }

.color-box {
  margin: 10% 30% 0% 30%; }

#content-1, #content-2, #content-3, #content-4, #content-5, #content-6, #content-8 {
  position: absolute; }

#content-1 {
  height: 150px;
  width: 150px;
  background: red; }
#content-1 h1 {
  text-align: center;
  padding-top: 50px; }

#content-2 {
  height: 150px;
  width: 150px;
  background: blue; }
#content-2 h1 {
  text-align: center;
  padding-top: 50px; }

#content-3 {
  height: 150px;
  width: 150px;
  background: green; }
#content-3 h1 {
  text-align: center;
  padding-top: 50px; }

#content-4 {
  height: 150px;
  width: 150px;
  background: yellow; }
#content-4 h1 {
  text-align: center;
  padding-top: 50px; }

#content-5 {
  height: 150px;
  width: 150px;
  background: black;
  color: white; }
#content-5 h1 {
  text-align: center;
  padding-top: 50px; }

#content-6 {
  height: 150px;
  width: 150px;
  background: grey; }
#content-6 h1 {
  text-align: center;
  padding-top: 50px; }

#content-7 {
  height: 150px;
  width: 150px;
  background: white; }
#content-7 h1 {
  text-align: center;
  padding-top: 50px; }

.random {
  border: 1px solid black;
  border-radius: 2em;
  margin: 0 25% 0 25%;
  height: 40px;
  width: 200px;
  background: #ECDCB0; }

@font-face {
  font-family: chalkduster;
  src: url("../fonts/src/main/resources/static/css/fonts/Chalkduster/Chalkduster.ttf"); }
* {
  font-family: 'chalkduster'; }

.title-bar {
  overflow: hidden;
  background: #3C485E;
  color: white;
  text-align: center; }

.player-bar {
  background: #ECDCB0;
  overflow: hidden;
  text-align: center; }
.player-bar h1 {
  line-height: .5; }

.board {
  background-image: url("../images/chalkboard-clip-art-at-clker-com-vector-clip-art-online-royalty-ioRhVb-clipart.png");
  height: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 25px 15px 25px 15px; }

.board-box {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: .5em;
  margin: 1%;
  float: left; }
.board-box h1 {
  margin: 0 auto;
  color: white;
  text-align: center; }

.fill {
  background: white;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: .5em;
  margin: 1%;
  float: left; }
.fill h1 {
  margin: 0 auto;
  color: white;
  text-align: center; }

.keyboard {
  background: #3C485E;
  height: 500px;
  padding: 25px 10px 0px 10px; }

.keyboard-box {
  height: 55px;
  width: 55px;
  border: 1px solid white;
  border-radius: .5em;
  margin: .5%;
  background: none;
  float: left; }
.keyboard-box h1 {
  margin: 0 auto;
  color: white;
  text-align: center; }

.used {
  background: grey;
  height: 55px;
  width: 55px;
  border: 1px solid white;
  border-radius: .5em;
  margin: .5%;
  float: left; }
.used h1 {
  margin: 0 auto;
  color: lightgrey;
  text-align: center; }

@media (min-width: 769px) {
  body {
    margin: 0% 36% 0% 36%; }
  
  .board {
    background-image: url("../images/chalkboard-clip-art-at-clker-com-vector-clip-art-online-royalty-ioRhVb-clipart.png");
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 25px 25px 25px 25px; } }

/*# sourceMappingURL=style.css.map */