@font-face {
  font-family: chalkduster;
  src:url('../fonts/chalkduster.TTF');
}

* {
  font-family: 'chalkduster';
}

.title-bar {
  overflow:hidden;
  background:#3C485E;
  color:white;
  text-align: center;
}
.player-bar {
  background:#ECDCB0;
  overflow:hidden;
  text-align: center;
  h1 {
    line-height: .5;
  }
}
.board {
  background-image: url('../images/chalkboard-clip-art-at-clker-com-vector-clip-art-online-royalty-ioRhVb-clipart.png');
  height: 100px;
  background-position:center center;
  background-repeat: no-repeat;
  overflow:hidden;
  padding: 25px 0px 25px 10px;
}
.board-box {
  height:30px;
  width:30px;
  border:1px solid white;
  margin:2.5%;

  float:left;
  h1 {
    margin:0 auto;
    color:white;
    text-align: center;
  }
}
.keyboard {
  background:#3C485E;
  height:350px;
  padding:0px 0px 0px 20px;
}
.keyboard-box {
  height:40px;
  width:40px;
  border:1px solid white;
  margin:2%;

  h1 {
    margin:0 auto;
    color:white;
    text-align: center;
  }
  float:left;
}

.used {
  background: grey;
  height:40px;
  width:40px;
  border:1px solid white;
  margin:2%;
  h1 {
    margin:0 auto;
    color:lightgrey;
    text-align: center;
  }
  float:left;
}
