<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Wheel-o-Phrases</title>
    <link th:href="@{/css/normalize.css}" href="../static/css/normalize.css" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet"/>
    <link href="fonts/chalkduster.TTF" rel="stylesheet"/>
  </head>
  <body>

    <div class="title-bar">
      <h1>Wheel-o-Phrases</h1>
    </div>
    <div class="player-bar">
      <h1>Josh0389</h1><h2>$0</h2>
    </div>

    <div class="board">
      <div class="board-box" th:each="letter: ${phrases}"><h1  th:text="${letter.phraseChar}">R</h1></div>
    </div>

    <form action="http://requestb.in/13c56tn1" method="post">
    <div class="keyboard">
      <div class="">
        <button value="A" name="A" class="keyboard-box"><h1>A</h1></button>
        <button value="B" name="B" class="used"><h1>B</h1></button>
        <button value="C" name="C" class="used"><h1>C</h1></button>
        <button value="D" name="D" class="used"><h1>D</h1></button>
        <button value="E" name="E" class="keyboard-box"><h1>E</h1></button>
        <button value="F" name="F" class="keyboard-box"><h1>F</h1></button>
        <button value="G" name="G" class="keyboard-box"><h1>G</h1></button>
        <button value="H" name="H" class="keyboard-box"><h1>H</h1></button>
        <button value="I" name="I" class="keyboard-box"><h1>I</h1></button>
        <button value="J" name="J" class="keyboard-box"><h1>J</h1></button>
        <button value="K" name="K" class="used"><h1>K</h1></button>
        <button value="L" name="L" class="keyboard-box"><h1>L</h1></button>
        <button value="M" name="M" class="keyboard-box"><h1>M</h1></button>
        <button value="N" name="N" class="keyboard-box"><h1>N</h1></button>
        <button value="O" name="O" class="keyboard-box"><h1>O</h1></button>
        <button value="P" name="P" class="keyboard-box"><h1>P</h1></button>
        <button value="Q" name="Q" class="keyboard-box"><h1>Q</h1></button>
        <button value="R" name="R" class="used"><h1>R</h1></button>
        <button value="S" name="S" class="keyboard-box"><h1>S</h1></button>
        <button value="T" name="T" class="keyboard-box"><h1>T</h1></button>
        <button value="U" name="U" class="keyboard-box"><h1>U</h1></button>
        <button value="V" name="V" class="keyboard-box"><h1>V</h1></button>
        <button value="W" name="W" class="keyboard-box"><h1>W</h1></button>
        <button value="X" name="X" class="keyboard-box"><h1>X</h1></button>
        <button value="" class="keyboard-box" style="border:none"><h1></h1></button>
        <button value="" class="keyboard-box" style="border:none"><h1></h1></button>
        <button value="Y" name="Y" class="keyboard-box"><h1>Y</h1></button>
        <button value="Z" name="Z" class="keyboard-box"><h1>Z</h1></button>
        <button value="" class="keyboard-box" style="border:none"><h1></h1></button>
        <button value="" class="keyboard-box" style="border:none"><h1></h1></button>
      </div>
    </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/static/js/script.js}" src="../static/js/script.js"></script>
  </body>
</html>
