<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wheel-o-Phrases</title>
    <link href="../static/css/normalize.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="fonts/chalkduster.TTF" rel="stylesheet">
  </head>
  <body>

    <div class="title-bar">
      <h1>Wheel-o-Phrases</h1>
    </div>
    <div class="player-bar">
      <h1>Josh0389</h1><h2>$0</h2>
    </div>

    <div class="board">
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
      <div class="board-box"><h1></h1></div>
    </div>

    <div class="container">
      <!-- <div class="color-changer" id="content">
        <h1>$100</h1>
      </div> -->
      <div class="color-box">
      <div id="content-1"><h1>$100</h1></div>
<div id="content-2"><h1>$200</h1></div>
<div id="content-3"><h1>$300</h1></div>
<div id="content-4"><h1>400</h1></div>
<div id="content-5"><h1>Bankrupt</h1></div>
<div id="content-6"><h1>$500</h1></div>
<div id="content-7"><h1>$600</h1></div>
</div>
      <br><br>

      <button class="random" id="rand">Random</button>
    </div>






      <!-- <div class="wheel">
        <div class="slice1">$100</div>
        <div class="slice2">$200</div>
        <div class="slice3">$300</div>
        <div class="slice4">Jackpot</div>
        <div class="slice5">$100</div>
        <div class="slice6">$200</div>
        <div class="slice7">$300</div>
        <div class="slice8">Bankrupt</div>
      </div> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../static/js/script.js"></script>
  </body>
</html>
